################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cicdapp/bin/Debug/net9.0
/.vs/cicdapp
/cicdapp/obj
